:root {
  --primary-text: #05386b;
  --secondary-text: #379683;
  --background: #5cdb95;
  --light-green: #8ee4af;
  --light: #edf5e1;
}

.card-container {
  background-color: blueviolet;
  width: 70vw;
  height: 25vh;
  margin-bottom: 10vh;
}

.card {
  background: var(--light);
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}

.image {
  background: var(--secondary-text);
  float: right;
  width: 70%;
  height: 100%;
}
