:root {
  --primary-text: #05386b;
  --secondary-text: #379683;
  --background: #5cdb95;
  --light-green: #8ee4af;
  --light: #edf5e1;
}

.home-container {
  height: 100vh;
  position: relative;
}

.title-container {
  z-index: 5;
  width: 30vw;
  height: 10vw;
  margin-left: 15vw;
  margin-top: 5vh;
}

.title {
  color: var(--light);
  font-size: 9vw;
}

.sub-title {
  color: var(--light);
  font-size: 1.5vw;
}

.center {
  margin-right: auto;
  margin-left: 30vw;
}

.image-container {
  width: 60vw;
  height: auto;
  margin-top: -5vh;
  z-index: 3;
}

.image-container img {
  width: 100%;
  height: auto;
  z-index: inherit;
}

.icon {
  color: var(--light);
  margin-right: 5px;
}
