:root {
  --primary-text: #05386b;
  --secondary-text: #379683;
  --background: #5cdb95;
  --light-green: #8ee4af;
  --light: #edf5e1;
}

.home-container {
  background-color: inherit;
  margin-left: 10vw;
  margin-right: 10vw;
}

.intro-container {
  width: 80vw;
  padding-top: 10vh;
  display: flex;
  margin-bottom: 10vh;

}

.intro-text {
  width: 30%;
}

.title {
  color: var(--light);
  font-size: max(9vw, 5em);
}

.sub-title {
  color: var(--light);
  font-size: max(1.5vw, 1em);
}

.icon {
  color: var(--light);
  margin-right: 10px;
  margin-top: 10px;
}

img {
  width: 100%;
  height: auto;
}

.intro-image {
  width: 80%;
  height: auto;
  margin-top: 20vh;
  margin-left: -10vw;
  z-index: -1;
}

.content {
  margin-left: 5vw;
  margin-right: 5vw;
}

.content-wrapper{
  background-color: var(--secondary-text);
}