:root {
  --primary-text: #05386b;
  --secondary-text: #379683;
  --background: #5cdb95;
  --light-green: #8ee4af;
  --light: #edf5e1;
}
/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  color: var(--primary-text);
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
  position: sticky;
  font-size: 1.2em;
  font-weight: bold;
  background: var(--background);
}

.floating-nav {
  box-shadow: 0px 1px 10px #999;
  border-radius: 2px;
}

.logo {
  float: left;
  margin-left: 10vw;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

#navbar ul {
  margin-right: 10vw;
  float: right;
  list-style: none;
  font-size: 1.1em;
  display: inline-flex;
}

#navbar li {
  display: inline-flex;
}

#navbar li a {
  color: var(--primary-text);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 1vw;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

#navbar li a:hover {
  color: var(--secondary-text);
  transition: all 0.5s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: var(--primary-text);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:hover:before {
  background: var(--primary-text);
  width: 100%;
  transition: width 0.5s;
}
